<head>

<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <style>
        .nav{
            background-color: deepskyblue;
            color : white;
            font-size:30px;


        }

        p,a,h1{
            font-family: 'Do Hyeon', sans-serif;
        }
    </style>
</head>
<body>
<div class="nav">
    <p>권택준</p>
    <a href="{% url 'login'%}">로그인</a>
    <a href="{% url 'signup'%}">회원가입</a>
    <a href="{% url 'logout'%}">로그아웃</a>

</div>

{%block contents%}

{%endblock%}
</body>